.add-new {
    width: 100vw;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.add-new input, .add-new-contact{


    
    /* margin: 20px 10px;
    border: none;
    padding: 12px 24px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px 1px rgba(77, 77, 77, 0.222);

    font-size: 1.03rem;
    outline: none;
    max-width: 90%; */

    
}

.add-new .add-new-form {
    padding:80px 20px 0px;
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .add-new-contact,.add-new-person , .add-new-desc{
    margin: 10px 10px;
    border: none;
    padding: 12px 24px;
    background-color: #ffffff;
    border-radius: 4px;
    outline: none;
    width: 90%;
    border: 1px solid var(--theme-color-6);
    
} */
.add-new-contact,.add-new-person , .add-new-desc{
    margin: 10px 10px;
    border: none;
    padding: 12px 24px;
    background-color: #f6fbff;
    /* border-radius: 4px; */
    outline: none;
    width: 90%;
    border-bottom: 1px solid var(--theme-color-6);

}
.add-new-amount, .add-new-date{
    padding: 12px 16px;
    background-color: #f6fbff;
    /* border-radius: 4px; */
    width: 100%;
    height: 100%;
    /* border: 1px solid var(--theme-color-6); */
    border: none;
    border-bottom: 1px solid var(--theme-color-6);
}
.date-amount-div{
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    width: 90%;
    gap: 10px;
    
}
.amount-input-div{
    width: 100%;
    position: relative;
}
.rupee-sign {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .add-new-amount{
    padding-left: 24px;
  }



.add-new .add-new-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.add-new .add-new-cat-list{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--theme-color-6);
    background-color: var(--theme-color-6);
    gap: 1px;
}
.add-new .add-new-cat-option{
    border: none;
    padding: 12px 24px;
    background-color: #ffffff;
    transition: all ease-in-out 300ms;
    border-bottom: 2px solid transparent;

}
.add-new .add-new-cat-option.active{
    background-color: var(--theme-color-6);
    color: #ffffff;
    /* color: var(--theme-color-6);
    border-bottom: 2px solid var(--theme-color-6); */
}




.add-new .add-new-type{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.add-new .add-new-type-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.add-new .add-new-type-option{
    border: none;
    text-align: center;
    padding: 12px 24px;
    background-color: #ffffff;
    transition: all ease-in-out 300ms;

}
.add-new .add-new-type-option.income{
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--income-color);
    border-right: none;
}
.add-new .add-new-type-option.expense{
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--expense-color);
    border-left: none;
}
.add-new .add-new-type-option.active.income{
    background-color: var(--income-color);
    color: #ffffff;
}
.add-new .add-new-type-option.active.expense{
    background-color: var(--expense-color);
    color: #ffffff;
}



.add-new .add-button-div {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new button{
    
    margin: 20px 0;
    width: 100%;
    padding: 16px 28px;
    background-color: #002fff;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    color: #ffffff;
    box-shadow: 0 2px 16px 1px rgba(77, 77, 77, 0.222);
    /* font-size: 1.03rem; */
}