.contacts {
    height: 100vh;
}



.contacts .contacts-header {
    height: 150px;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 2px 16px 0 rgba(72, 72, 72, 0.1); */
    border-radius: 10px;
    padding: 10px 20px;
    flex-direction: column;
}
.contacts .new-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts .new-contact-name{
    margin: 20px 10px;
    border: none;
    padding: 12px 24px;
    background-color: #ffffff;
    /* background-color: #adc6e229; */
    border-radius: 1000px;
    /* border-radius: 2px 2px 0px 0px; */
    /* border-bottom: 1px solid #0051ff; */
    color: #000000;
    box-shadow: 0 2px 6px 1px rgba(77, 77, 77, 0.222);

    font-size: 1.03rem;
    outline: none;
    max-width: 90%;
    
}
.contacts .new-contact-button{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #0027d2;
    /* background-color: #002fff; */
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    color: #ffffff;
    box-shadow: 0 2px 16px 1px rgba(77, 77, 77, 0.222);
    font-size: 1.03rem;
}

.contacts .new-contact-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.contacts .new-contact-cat-list{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--theme-color-6);
    background-color: var(--theme-color-6);
    gap: 1px;
}
.contacts .new-contact-cat-option{
    border: none;
    padding: 12px 24px;
    background-color: #ffffff;
    transition: all ease-in-out 300ms;
}
.contacts .new-contact-cat-option.active{
    background-color: var(--theme-color-6);
    color: #ffffff;
}





.contacts .contacts-data {
    height: calc(100vh - 200px);
    overflow: auto;
}

.contacts .contacts-item {
    padding: 16px 24px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    /* box-shadow: 0 2px 6px 0px rgba(72, 72, 72, 0.2); */
    border-radius: 4px;
    margin: 10px 20px;
    background-color: #fff;
    border: 1px solid #0baeff;
}

.contacts .contacts-item-data, .contacts-header-item {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: start; */

}
.contacts .contacts-item-data.person  {
    justify-content: start;
}
.contacts-item-data.category {
    justify-content: end;
}