.home {
    height: 100vh;
}

.report {
    height: 55px;
}

/* 
.report-item{
    padding: 10px 16px;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 6px;
    background-color: #f4f6ff;
    border-radius: 4px;
} */


.report-item{
    padding: 10px 16px;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 6px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px 1px rgba(0, 136, 255, 0.263);
    border: 1px solid #0baeff4a;
}
