:root {
    --bar-height: 6px;
}

.report-bar {
    width: 85%;
    height: var(--bar-height);
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.1);
    overflow: hidden;


}

.report-bar .bar {
    width: 100%;
    height: var(--bar-height);
    background-color: #ff4b4b;
    margin: 0 auto;
}

.report-bar .bar .bar-slider {
    height: 100%;
    background-color: #01ce53;
    transition: all ease-in-out 2s;
}